/starparse-shared/target/
/starparse-client/target/
/starparse-client/build/starparse-attacks.xml
/starparse-client/build/starparse-timers.xml
/starparse-client/build/starparse.log
/starparse-client/build/starparse.xml
/starparse-client/build/starparse-client.jar
/starparse-client/build/icons/
/starparse-client/build/sounds/
/starparse-client/build/stats/
.idea/
.vscode/
*.log
